@import 'variables';
@import 'mixins';

@import 'header';
@import 'hero';
@import 'menu';
@import 'ordering';
@import 'catering';
@import 'about';
@import 'footer';
@import 'badge';
@import 'button';
@import 'card';